fastapi==0.115.0
uvicorn==0.30.6
psycopg2-binary
neo4j==5.24.0
confluent-kafka==2.5.0
algoliasearch==3.0.0
Faker==26.0.0
xgboost==2.1.3
scikit-learn==1.6.1
python-dotenv==1.0.1
pandas==2.2.2
jellyfish==1.1.0
numpy==2.1.3
