@import "tailwindcss";

@theme {
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-success-500: #10b981;
  --color-success-600: #059669;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
